/*Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildecard selector to overide default styles added to the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header section*/
header {
    background-color: lightgray;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}


/* Main Section*/
main {
    flex: 1 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#cover {
    /* background imaged copied from the sit https://staticsb.we.org/f/52095/400x400/ab2bfdb346/sierra-leone-school-room-45-interior.jpg*/
    height: 600px;
    width: 100%;
    background: url("../assets/images/sierra-leone-school-girl.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: lightgreen;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    align-content: center; 
}
.about-you {
    display: inline;
}

#parent {
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 0px;
    margin: 3em;
    align-content: center;
    display: inline-block;
    /* icon copied from the adress: https://www.google.com/url?sa=i&url=https%3A%2F%2Fthenounproject.com%2Ficon%2Fparents-250956%2F&psig=AOvVaw1cpc8tccerOJ0SgafIjlVU&ust=1720277074476000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCPiO5tORkIcDFQAAAAAdAAAAABAE*/
    background: url("../assets/images/Family\ icon.png") no-repeat center center/cover;
}

#school-authority {
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 0px;
    margin: 3em;
    align-content: end;
    display: inline-block;
    align-content: center;
}

#ministry {
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    text-align:justify;
    align-content: center;
    border-radius: 0px;
    margin: 3em;
    align-content: center;
    text-decoration: none;
    display: inline-block;
}

#police {
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 0px;
    margin: 3em;
    align-content: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background: url("../assets/images/police-icon.png") no-repeat center center/cover;
}

/* Signin Page*/
#signin {
    background-color: azure;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#signin-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.4);
    padding: 30px;
}
#signin-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}



/* Parents Signup Page*/
#signup {
    background-color: azure;
    background-position: 70%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#parents-signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.4);
    padding: 10px;
}
#parents-signup-form>h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.text-input{
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

footer {
    background-color: lightgray;
    padding-top: 50px;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 25%;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list {
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position:absolute
    transform: translate(-50% -50%);
    left: 50%;
    top: 106%
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before {
    width: 70px;
}
.social-icons {
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color: white;
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color:n#f18930;
}
.bottom-bar {
    background:#f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

/* Media quesy for large or landscape phones (576 and up) */
@media screen and (min-width: 576px) {
   #about-you> div {
        column-count: 2;
        column-gap: 0;
    }
    
}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
}